<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/custom.css">
  <title>Rasp WoT</title>
  <script type="text/html" src="https://www.jsdelivr.com/package/npm/chart.js"></script>
  <script type="text/javascript" src="/js/Chart.bundle.min.js"></script>
</head>
<body id="bodybak" style="background-color:rgb(31, 30, 28);">
  <main role="main" class="container">
    <div id="wrapper">
      <br>
      {{{body}}}
    </div>
</body>
</html>
